# Jupyter Notebooks
.ipynb_checkpoints

# macOC Desktop Services Store
.DS_Store

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environments
.venv

# Visual Studio Code
.vscode
